@page
@model Backend_Task03.Pages.Beers.Edit2Model

@{
	ViewData["Title"] = "Edit";
}

<body>
	<div class="adminGrid">
		<h1>Edit Beer</h1>

		<div class="editBeerGrid">
			<div class="col-md-4">
				<form method="post" asp-page-handler="Update">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Beer.ID" />
					<div class="form-group">
						<label asp-for="Beer.Name" class="control-label"></label>
						<input asp-for="Beer.Name" class="form-control" />
						<span asp-validation-for="Beer.Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Beer.Description" class="control-label"></label>
						<textarea asp-for="Beer.Description" class="form-control"></textarea>
						<span asp-validation-for="Beer.Description" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Beer.Type" class="control-label"></label>
						<input asp-for="Beer.Type" class="form-control" />
						<span asp-validation-for="Beer.Type" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Beer.Percentage" class="control-label"></label>
						<input asp-for="Beer.Percentage" type="number" min="0" step="0.1" max="15" class="form-control" />
						<span asp-validation-for="Beer.Percentage" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Beer.Brewery" class="control-label"></label>
						<input asp-for="Beer.Brewery" class="form-control" />
						<span asp-validation-for="Beer.Brewery" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Beer.Country" class="control-label"></label>
						<select asp-for="Beer.Country" asp-items="@(new SelectList(Data.SampleData.CountryData))" class="form-control">
						</select>
						<span asp-validation-for="Beer.Country" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Beer.EAN13" class="control-label"></label>
						<input asp-for="Beer.EAN13" class="form-control" />
						<span asp-validation-for="Beer.EAN13" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Update</button>
				</form>
				<form method="post">
					<button type="submit" asp-page-handler="Delete" asp-route-id="@Model.Beer.ID" class="btn btn-danger">Delete</button>
				</form>
				<div>
					<button type="button" onclick="location.href='@Url.Page("Index")'">Back to List</button>
				</div>
			</div>
		</div>
	</div>

</body>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
